.contact-container {
    margin-top: 10% !important;
    height: 45%;
    background-color: rgba(21, 21, 21, 0.708);
    margin: auto;
    color: antiquewhite;
    text-align: center;
}

.map-container {
    width: 55%;
    border-style: solid;
    border-color: whitesmoke;
}