<div class="appointmentModel">
<h4>Időpont</h4>
<mat-form-field>
    <mat-label>Nemed</mat-label>
    <mat-select #genderSelect [(ngModel)]="theSelectedGender" (selectionChange)="isGenderSelected=true">
      <mat-option *ngFor="let gender of genders" [(value)]="gender">
        {{gender}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<mat-form-field>
<mat-label>Hajvágás típusa</mat-label>
<mat-select #cutType [disabled]="!isGenderSelected" [(ngModel)]="theSelectedHairType" (selectionChange)="isHairTypeSelected=true">
  <ng-container *ngIf="genderSelect.value=='Férfi'">
    <mat-option *ngFor="let hairtype of hairTypesMan" [(value)]="hairtype">
      {{hairtype.hairtype}}
    </mat-option>
  </ng-container>
  <ng-container *ngIf="genderSelect.value=='Nő'">
    <mat-option #elseBlock *ngFor="let hairtype of hairTypesWoman" [(value)]="hairtype">
        {{hairtype.hairtype}}
      </mat-option>
  </ng-container>
</mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Melyik napon jönnél?</mat-label>
    <mat-select #daySelected [(ngModel)]="selectedDay" [disabled]="!isHairTypeSelected" (closed)="onInitFreeEventsList()">
      <mat-option *ngFor="let day of nextWeekDays" [value]="day">
          {{day}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<mat-form-field>
  <mat-label>Válassz időpontot</mat-label>
  <mat-select #event [disabled]="!isHairTypeSelected" >
    <mat-option *ngFor="let element of freeEvents" [value]="element">
        {{ element.startTimeToShow }} - {{ element.endTimeToShow }}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

